.flexxrowdatafarm{
    padding: 20px;
    flex-direction: row;
    display: flex;
    width: 98%;
    border: 1px solid #9dd942;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 5px 0px;

    justify-content: space-around;
}
.flexxrowdatafarm p{
    margin: 0px;
}
.faddress{
    width: 40%;

}
.fvo{
    width: 10%;
}
.fname{
    width: 15%;
}
.fvariety{
    width: 10%;
}
.flexxrowdatafarm i{
    margin: 0px 5px;
    color: #0a58ca;
}
.fdate{
    width: 15%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid brown; */
    align-items: flex-start;
}